.content {
  width: 60%;
  height: 75%;
  background: rgba(0, 0, 0, 0.5);
}

#window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#navbar {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#horizontal-container {
  display: flex;
  height: 50rem;
  border-top: 2px solid transparent;

  border-image: url("colorzap.gif") 30 round;
}

#chat {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#users {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .content {
    height: 80%;
    width: 80%;
  }
}
